* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --neutral-0: hsl(0, 0%, 100%);
  --neutral-300: hsl(252, 6%, 83%);
  --neutral-500: hsl(245, 15%, 58%);
  --neutral-700: hsl(245, 19%, 35%);
  --neutral-900: hsl(248, 70%, 10%);

  --orange-500: hsl(7, 88%, 67%);
  --orange-700: hsl(7, 71%, 60%);

  font-family: "Inconsolata", monospace;
}
body {
  background: url("../assets/images/background-desktop.png") no-repeat center
    top/cover;
  font-family: "Inconsolata", monospace;
  color: var(--neutral-0);
}
header {
  margin-block: 1rem 2rem;
  margin-inline: auto;
  text-align: center;
  img {
    width: 200px;
  }
}
.hero {
  margin-inline: auto;
  font-size: 20px;
  width: 35rem;
  text-align: center;
  h1 {
    margin-block: 2rem 1rem;
  }
  p {
    margin-inline: auto;
    font-size: 14px;
    color: var(--neutral-300);
    margin-bottom: 3rem;
  }
  .hero-detail {
    line-height: 20px;
    width: 20rem;
  }
  span {
    color: var(--orange-700);
  }
}
.gradient-text {
  background: linear-gradient(to right, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
form {
  margin-inline: auto;

  width: 20rem;
  label {
    font-size: 14px;
    margin-block: 1rem 0.5rem;
    display: block;
  }
  input {
    width: 100%;
    padding: 0.75rem 1rem;
    border: none;
    font-size: 14px;
    border: 1px solid var(--neutral-500);
    background-color: hsla(245, 19%, 35%, 0.249);
    border-radius: 0.5rem;
  }
  button {
    margin-top: 1.05rem;
    border-radius: 0.5rem;
    width: 100%;
    padding: 0.75rem 1rem;
    border: none;
    font-size: 14px;
    font-family: "Inconsolata", monospace;
    background: var(--orange-500);
    color: var(--neutral-900);
    font-weight: 900;
    cursor: pointer;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.hide {
  display: none;
}
